:root {
	--main-green: #99b898;
	--main-orange: #feceab;
	--main-pink: #ff847c;
	--main-red: #e84a5f;
	--main-black: #2a363b;
  --pure-black: #000000;
	--darker-green: #83ae98;
	--main-blue: #4285F4;
  --darker-blue: #0160D8;
	--main-purple: #6c5b7b;
  --main-yellow: #F8EEB0;
  --darker-yellow: #EEE4C6;
  --pure-white: #ffffff;
}

* {
  font-family: Ariel, sans-serif;
  margin: 0;
}

#main {
  scroll-padding-top: 50px;
}

#header-nav {
	background-color: var(--main-blue);
	margin-bottom: 0;
	border: 0;
}
.navbar-default .navbar-brand {
	font-size: 2.0em;
	color: var(--pure-black);
}
.navbar-default .navbar-brand:hover {
  color: var(--pure-white);
  background-color: transparent;
}

a, a:active, a:hover {
	text-decoration: none;
}


#nav-list a {
	font-size: 1.5em;
	color: var(--pure-black);
}
#nav-list a:hover {
	background-color: var(--darker-blue);
}

.navbar-nav {
  text-align: right
}

.navbar-toggle {
  padding: 0.3rem 0.6rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  color: #212529;
  background-color: var(--main-blue);
  border: 2.5px
}
.navbar-default .navbar-toggle:focus {
  background-color: var(--main-blue);
}
.navbar-default .navbar-toggle:focus-visible {
  background-color: var(--darker-blue);
}
.navbar-default .navbar-toggle:hover {
  background-color: var(--darker-blue);
}


#welcome-section {
  background-color: var(--main-black);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-column-gap: 4%;
  grid-row-gap: 4%;
}

.image-welcome {
  position: static;
  z-index: 0;
  display: block;
  padding: 0px;
  width: 230px;
}

.introduction {
  font-size: 3em;
  width: 50%;
}

h1 {
  color: white;
}

#intro {
  font-size: 80px;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.contactbtn {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
 }
.contactbtn:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}
@keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}


#projects {
  background-color: var(--main-green);
  padding: 20px;
  width: 100%;
}

.project-section-title {
  text-align: center;
  display: flex;
  justify-content: center;
}

h2 {
  color: var(--pure-black);
  font-size: 4rem;
  border-bottom: 2px solid var(--main-black);
  margin-top: 20px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 3rem;
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
}
.project-link {
  background: var(--main-black);
  border-radius: 3px
}

img {
  width: 100%;
  height: calc(100% - 3.5em);
  object-fit: cover;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1); 
}

.project-title {
  text-align: center;
  display: flex;
  justify-content: center;
}

p {
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.project-link:hover p {
  color: var(--main-orange)
}

#project-profile-link {
  text-align: center;
  background-color: var(--main-black);
  width: 90px;
  height: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 3px
}

#project-profile-link:hover {
  background-color: #be3144
}


#contact {
  background-color: #2F2A29;
  width: 100%;
  height: 91.43vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white
}

#first-line {
  font-size: 1.7rem
}
#second-line {
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  height:  100px;
}
.contact-details {
  padding-left: 40px;
  padding-right: 40px;
}

.contact-details:hover .bi{
  color: var(--main-orange);
}

.contact-details:hover {
  transform: translateY(12px);
}
.bi {
  color: white;
  font-size: 2em;
}
.bi-at {
  font-size: 2.3em;
}

#matmult-section {
  background-color: var(--main-black);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}